body {
  background: #111;
  font-family: monospace;
}

body > * {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3em
}

button, input {
  border: 1px solid #aaa;
  background: #333;
  color: #eee;
  padding: 1em;
}

input[type="number"] {
  width: 50px;
}

.controls {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto;
  margin-top: 1em;
  column-gap: 1em;
  row-gap: 1em;
}

.controls > * {
  align-self: center;
  justify-self: stretch;
}

svg.smolgraph {
  width: 800px;
  max-width: 100%;
}
